<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watchable</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <h1>Movies to Watch</h1>
    <h2>This Collection Belongs to {{ name }}</h2>

    <h3>movies: {{ movies }}</h3>
    <h3>first: {{ movies[0] }}</h3>
    <h3>slicing: {{ movies[1:4]|join(' ') }}</h3>

    <hr>

    <ul>
        {% for item in movies %}
            <li>the movie is : {{ item }}</li>
        {% endfor %}
    </ul>
</body>
</html>